.elementor-8299 .elementor-element.elementor-element-9bcbe84 .elementor-repeater-item-b5692a1.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-8299 .elementor-element.elementor-element-7846aff2 .elementor-repeater-item-a66e9c3.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-8299 .elementor-element.elementor-element-309363df:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #a26ca8;
}

.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-element-populated,
.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-element-populated>.elementor-background-overlay,
.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-background-slideshow {
    border-radius: 25px 25px 0px 0px;
}

.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-309363df>.elementor-element-populated>.elementor-widget-wrap {
    padding: 25px 25px 120px 25px;
}

.elementor-8299 .elementor-element.elementor-element-69fa77fa .elementor-spacer-inner {
    --spacer-size: 20px;
}

.elementor-8299 .elementor-element.elementor-element-c6894c0 {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-c6894c0 .elementor-heading-title {
    color: #ffffff;
    font-family: "Ballet", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-8299 .elementor-element.elementor-element-59bea3eb {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-59bea3eb .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 45px;
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}

.elementor-8299 .elementor-element.elementor-element-23c7516 .elementor-repeater-item-bebcad5.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-8299 .elementor-element.elementor-element-71a014a0:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-8299 .elementor-element.elementor-element-71a014a0>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-71a014a0>.elementor-element-populated>.elementor-background-overlay {
    background-color: #FFFFFF;
    background-image: url("https://entodaocasion.com/wp-content/uploads/2021/11/angel.svg");
    background-size: 4% auto;
    opacity: 0.03;
}

.elementor-8299 .elementor-element.elementor-element-71a014a0>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-71a014a0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-71a014a0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 50px 0px;
}

.elementor-8299 .elementor-element.elementor-element-58f41e70 {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-58f41e70 img {
    width: 20%;
    border-style: double;
    border-width: 6px 6px 6px 6px;
    border-color: #E2E2E2;
    border-radius: 0px 0px 0px 0px;
}

.elementor-8299 .elementor-element.elementor-element-58f41e70>.elementor-widget-container {
    margin: -90px 0px 0px 0px;
}

.elementor-8299 .elementor-element.elementor-element-dd74018 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-dd74018.elementor-view-stacked .elementor-icon {
    background-color: #8da145;
}

.elementor-8299 .elementor-element.elementor-element-dd74018.elementor-view-framed .elementor-icon,
.elementor-8299 .elementor-element.elementor-element-dd74018.elementor-view-default .elementor-icon {
    color: #8da145;
    border-color: #8da145;
}

.elementor-8299 .elementor-element.elementor-element-dd74018.elementor-view-framed .elementor-icon,
.elementor-8299 .elementor-element.elementor-element-dd74018.elementor-view-default .elementor-icon svg {
    fill: #8da145;
}

.elementor-8299 .elementor-element.elementor-element-dd74018 .elementor-icon i,
.elementor-8299 .elementor-element.elementor-element-dd74018 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-8299 .elementor-element.elementor-element-5f522006 {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-5f522006 .elementor-heading-title {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.elementor-8299 .elementor-element.elementor-element-5f522006>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
    background-color: #a26ca8;
}

.elementor-8299 .elementor-element.elementor-element-680b806 {
    text-align: center;
    color: #B666D2;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-8299 .elementor-element.elementor-element-72d72c6 {
    --icon-box-icon-margin: 15px;
}

.elementor-8299 .elementor-element.elementor-element-72d72c6 .elementor-icon-box-title {
    color: #800080;
}

.elementor-8299 .elementor-element.elementor-element-72d72c6 .elementor-icon-box-title,
.elementor-8299 .elementor-element.elementor-element-72d72c6 .elementor-icon-box-title a {
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-72d72c6 .elementor-icon-box-description {
    color: #B666D2;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-8299 .elementor-element.elementor-element-b1a853d {
    --icon-box-icon-margin: 15px;
}

.elementor-8299 .elementor-element.elementor-element-b1a853d .elementor-icon-box-title {
    color: #A1B6AD;
}

.elementor-8299 .elementor-element.elementor-element-b1a853d .elementor-icon-box-title,
.elementor-8299 .elementor-element.elementor-element-b1a853d .elementor-icon-box-title a {
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-b1a853d .elementor-icon-box-description {
    color: #8D8D8D;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-8299 .elementor-element.elementor-element-873f772 {
    --icon-box-icon-margin: 15px;
}

.elementor-8299 .elementor-element.elementor-element-873f772 .elementor-icon-box-title {
    color: #800080;
}

.elementor-8299 .elementor-element.elementor-element-873f772 .elementor-icon-box-title,
.elementor-8299 .elementor-element.elementor-element-873f772 .elementor-icon-box-title a {
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-873f772 .elementor-icon-box-description {

    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-8299 .elementor-element.elementor-element-3ae8f617 {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-3ae8f617 .elementor-heading-title {
    color: #A1B6AD;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.elementor-8299 .elementor-element.elementor-element-d4c8ba1 .jet-countdown-timer__item {
    width: 110px;
    height: 110px;
    background-color: #DEB76A;
    border-radius: 500px 500px 500px 500px;
}

.elementor-8299 .elementor-element.elementor-element-d4c8ba1 .jet-countdown-timer {
    justify-content: center;
}

.elementor-8299 .elementor-element.elementor-element-d4c8ba1 .jet-countdown-timer__item-value {
    order: 1;
    color: #517350;
}

.elementor-8299 .elementor-element.elementor-element-d4c8ba1 .jet-countdown-timer__item-label {
    order: 2;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-8299 .elementor-element.elementor-element-d4c8ba1 .jet-countdown-timer__digit {
    font-family: "Montserrat", Sans-serif;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-8299 .elementor-element.elementor-element-d4c8ba1 .jet-countdown-timer__separator {
    color: #625B5B;
    font-size: 30px;
}

.elementor-8299 .elementor-element.elementor-element-23c7516:not(.elementor-motion-effects-element-type-background),
.elementor-8299 .elementor-element.elementor-element-23c7516>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-23c7516>.elementor-background-overlay {
    background-image: url("https://entodaocasion.com/wp-content/uploads/2021/11/pattern-corazon-1.svg");
    background-position: center center;
    background-size: 73% auto;
    opacity: 0.01;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-23c7516 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-a12b16f .elementor-repeater-item-6c7c934.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-8299 .elementor-element.elementor-element-2278a44a>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-8299 .elementor-element.elementor-element-2278a44a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}

.elementor-8299 .elementor-element.elementor-element-2ceb02b1 {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-2ceb02b1 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Ballet", Sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7.elementor-view-stacked .elementor-icon {
    background-color: #DEB76A;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7.elementor-view-framed .elementor-icon,
.elementor-8299 .elementor-element.elementor-element-2a40ad7.elementor-view-default .elementor-icon {
    border-color: #DEB76A;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7 {
    --icon-box-icon-margin: 15px;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7 .elementor-icon {
    font-size: 75px;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7 .elementor-icon-box-title {
    color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7 .elementor-icon-box-title,
.elementor-8299 .elementor-element.elementor-element-2a40ad7 .elementor-icon-box-title a {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7 .elementor-icon-box-description {
    color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-2a40ad7>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A1B6AD;
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__container {
    justify-content: center;
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__instance {
    background-color: #FFFFFF;
    border-radius: 500px 500px 500px 500px;
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__plane-normal {
    background-color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__plane-hover {
    background-color: var(--e-global-color-secondary);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__state-hover .jet-button__icon {
    color: var(--e-global-color-text);
    font-size: 17px;
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__state-normal .jet-button__label {
    text-align: left;
    color: var(--e-global-color-text);
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__state-hover .jet-button__label {
    text-align: left;
}

.elementor-8299 .elementor-element.elementor-element-395e238a .jet-button__state-normal .jet-button__label {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-3a715b2e>.elementor-element-populated {
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-8299 .elementor-element.elementor-element-3a715b2e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}

.elementor-8299 .elementor-element.elementor-element-20f0d28f {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-20f0d28f .elementor-heading-title {
    color: #ffffff;
    font-family: "Ballet", Sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff.elementor-view-stacked .elementor-icon {
    background-color: #8da145;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff.elementor-view-framed .elementor-icon,
.elementor-8299 .elementor-element.elementor-element-75d26dff.elementor-view-default .elementor-icon {
    border-color: #8da145;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff {
    --icon-box-icon-margin: 15px;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff .elementor-icon {
    font-size: 75px;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff .elementor-icon-box-title {
    color:#FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff .elementor-icon-box-title,
.elementor-8299 .elementor-element.elementor-element-75d26dff .elementor-icon-box-title a {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff .elementor-icon-box-description {
    color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-75d26dff>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #A1B6AD;
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__container {
    justify-content: center;
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__instance {
    background-color: #FFFFFF;
    border-radius: 500px 500px 500px 500px;
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__plane-normal {
    background-color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__plane-hover {
    background-color: var(--e-global-color-secondary);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__state-hover .jet-button__icon {
    color: var(--e-global-color-text);
    font-size: 17px;
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__state-normal .jet-button__label {
    text-align: left;
    color: var(--e-global-color-text);
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__state-hover .jet-button__label {
    text-align: left;
}

.elementor-8299 .elementor-element.elementor-element-683c8fab .jet-button__state-normal .jet-button__label {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-a12b16f:not(.elementor-motion-effects-element-type-background),
.elementor-8299 .elementor-element.elementor-element-a12b16f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color:#a26ca8;
}

.elementor-8299 .elementor-element.elementor-element-a12b16f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-8299 .elementor-element.elementor-element-a12b16f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-2aacf3b1 .elementor-repeater-item-df9dad0.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-8299 .elementor-element.elementor-element-2750ec4e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

@font-face {
    font-family: "Priscilla Script";
    src: url("./files/Priscilla\ Script.otf") format("opentype");
}

@font-face {
    font-family: "Noordwijk aan Zee";
    src: url("./files/Noordwijk_aan_Zee_DEMO.ttf") format("opentype");
}

.elementor-8299 .elementor-element.elementor-element-3a2631f9 {
    text-align: center;
    z-index: 1;
}

.elementor-8299 .elementor-element.elementor-element-3a2631f9 .elementor-heading-title {
    color: #b7dbf2;
    font-family: 'Priscilla Script';
    font-size: 45px;
    font-weight: 600;
}

.elementor-8299 .elementor-element.elementor-element-231ea8c7 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-231ea8c7.elementor-view-stacked .elementor-icon {
    background-color: #DEB76A;
}

.elementor-8299 .elementor-element.elementor-element-231ea8c7.elementor-view-framed .elementor-icon,
.elementor-8299 .elementor-element.elementor-element-231ea8c7.elementor-view-default .elementor-icon {
    color: #DEB76A;
    border-color: #DEB76A;
}

.elementor-8299 .elementor-element.elementor-element-231ea8c7.elementor-view-framed .elementor-icon,
.elementor-8299 .elementor-element.elementor-element-231ea8c7.elementor-view-default .elementor-icon svg {
    fill: #DEB76A;
}

.elementor-8299 .elementor-element.elementor-element-231ea8c7 .elementor-icon {
    font-size: 36px;
}

.elementor-8299 .elementor-element.elementor-element-231ea8c7 .elementor-icon i,
.elementor-8299 .elementor-element.elementor-element-231ea8c7 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-8299 .elementor-element.elementor-element-cc270e2 {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-cc270e2 .elementor-heading-title {
    color: #B666D2;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.elementor-8299 .elementor-element.elementor-element-cc270e2>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
    background-color: #E1ECE6;
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__container {
    justify-content: center;
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__instance {
    background-color: #A1B6AD;
    border-radius: 500px 500px 500px 500px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__plane-normal {
    background-color: #A1B6AD;
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__plane-hover {
    background-color: var(--e-global-color-secondary);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__state-hover .jet-button__icon {
    color: var(--e-global-color-text);
    font-size: 17px;
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__state-normal .jet-button__label {
    text-align: left;
    color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__state-hover .jet-button__label {
    text-align: left;
}

.elementor-8299 .elementor-element.elementor-element-2a9b591a .jet-button__state-normal .jet-button__label {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__container {
    justify-content: center;
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__instance {
    background-color: var(--e-global-color-text);
    border-radius: 500px 500px 500px 500px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__plane-normal {
    background-color: white;
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__plane-hover {
    background-color: var(--e-global-color-secondary);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__state-hover .jet-button__icon {
    color: var(--e-global-color-text);
    font-size: 17px;
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__state-normal .jet-button__label {
    text-align: left;
    color: black;
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__state-hover .jet-button__label {
    text-align: left;
}

.elementor-8299 .elementor-element.elementor-element-2265ea4 .jet-button__state-normal .jet-button__label {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-8299 .elementor-element.elementor-element-2aacf3b1:not(.elementor-motion-effects-element-type-background),
.elementor-8299 .elementor-element.elementor-element-2aacf3b1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-8299 .elementor-element.elementor-element-2aacf3b1>.elementor-background-overlay {
    background-color: #FFFFFF;
    background-image: url("https://entodaocasion.com/wp-content/uploads/2021/11/pattern-corazon-1.svg");
    background-size: 5% auto;
    opacity: 0.03;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-2aacf3b1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-8299 .elementor-element.elementor-element-6783d744 .elementor-repeater-item-b6bf213.jet-parallax-section__layout .jet-parallax-section__image {
    background-size: auto;
}

.elementor-8299 .elementor-element.elementor-element-6abad79f {
    text-align: center;
}

.elementor-8299 .elementor-element.elementor-element-6abad79f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Ballet", Sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.elementor-8299 .elementor-element.elementor-element-6783d744:not(.elementor-motion-effects-element-type-background),
.elementor-8299 .elementor-element.elementor-element-6783d744>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #a26ca8;
}

.elementor-8299 .elementor-element.elementor-element-6783d744,
.elementor-8299 .elementor-element.elementor-element-6783d744>.elementor-background-overlay {
    border-radius: 0px 0px 50px 50px;
}

.elementor-8299 .elementor-element.elementor-element-6783d744 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-8299 .elementor-element.elementor-element-6783d744>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-9bcbe84:not(.elementor-motion-effects-element-type-background),
.elementor-8299 .elementor-element.elementor-element-9bcbe84>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color:#B7DBF2;
}

.elementor-8299 .elementor-element.elementor-element-9bcbe84>.elementor-background-overlay {
    background-image: url("./paloma2.webp");
    background-position: center center;
    background-repeat: repeat;
    background-size: 25% auto;
    opacity: 0.07;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8299 .elementor-element.elementor-element-9bcbe84 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

@media(min-width:1025px) {
    .elementor-8299 .elementor-element.elementor-element-9bcbe84>.elementor-background-overlay {
        background-attachment: fixed;
    }
}

@media(max-width:767px) {
    .elementor-8299 .elementor-element.elementor-element-58f41e70 img {
        width: 80%;
    }

    .elementor-8299 .elementor-element.elementor-element-680b806 {
        font-size: 13px;
    }

    .elementor-8299 .elementor-element.elementor-element-680b806>.elementor-widget-container {
        margin: 0% 10% 0% 10%;
    }

    .elementor-8299 .elementor-element.elementor-element-72d72c6 .elementor-icon-box-description {
        font-size: 13px;
    }

    .elementor-8299 .elementor-element.elementor-element-b1a853d .elementor-icon-box-description {
        font-size: 13px;
    }

    .elementor-8299 .elementor-element.elementor-element-873f772 .elementor-icon-box-description {
        font-size: 13px;
    }

    .elementor-8299 .elementor-element.elementor-element-2aacf3b1>.elementor-background-overlay {
        background-size: 60px auto;
    }

    .elementor-8299 .elementor-element.elementor-element-9bcbe84>.elementor-background-overlay {
        background-size: 20% auto;
    }

    .elementor-8299 .elementor-element.elementor-element-9bcbe84 {
        padding: 10px 10px 10px 10px;
    }
}